@charset "UTF-8";
/* CSS Document */
@media (min-width: 320px) and (max-width: 480px){
	
	
	.file{
		padding-top: 80px;
		padding-bottom: 0px;
		padding-left: 2%;
		padding-right: 2%;
		width: 96%;
	}
	
	.button{
		display: flex;
		align-items: center;
		margin: auto;
		justify-content: center;
	}
	
	#cancel{
		font-size: 15px;
	font-family: 'Pretendard',url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
	font-weight: 600;
	background-color:#FFFFFF;
	color: black;
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1), 0 2px 5px 0 rgba(0,0,0,0.07);
	margin-left: 10px; 
	margin-right: 10px;
	margin-top: 20px;
	padding-bottom: 9px;
	padding-top: 9px;
	padding-left: 33px;
	padding-right: 33px;
	border: 1.5px ;
	border-radius: 9px;
	}

	
	#confirm{
		font-size: 15px;
	font-family: 'Pretendard',url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
	font-weight: 600;
	background-color:#0087ff;
	color: white;
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1), 0 2px 5px 0 rgba(0,0,0,0.07);
	margin-left: 10px; 
	margin-right: 10px;
	margin-top: 20px;
	padding-bottom: 9px;
	padding-top: 9px;
	padding-left: 50px;
	padding-right: 50px;
	border: 1.5px ;
	border-radius: 9px;
	}
}