@charset "UTF-8";
/* CSS Document */

	.file{
		padding-top: 30px;
		padding-bottom: 0px;
		padding-left: 4%;
		padding-right: 4%;
		width: 92%;
	}
	
	.button{
		display: flex;
		align-items: center;
		margin: auto;
		justify-content: center;
	}
	
	#cancel{
		font-size: 40px;
	font-family: 'Pretendard',url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
	font-weight: 600;
	background-color:#FFFFFF;
	color: black;
	-webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1), 0 2px 5px 0 rgba(0,0,0,0.07);
	margin-left: 30px; 
	margin-right: 30px;
	margin-top: 20px;
	-webkit-padding-bottom: 15px;
	-webkit-padding-top: 15px;
	-webkit-padding-left: 60px;
	-webkit-padding-right: 60px;
	border: 1.5px ;
	border-radius: 25px;
	}

	
	#confirm{
		font-size: 40px;
	font-family: 'Pretendard',url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
	font-weight: 600;
	background-color:#0087ff;
	color: white;
	-webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1), 0 2px 5px 0 rgba(0,0,0,0.07);
	margin-left: 30px; 
	margin-right: 30px;
	margin-top: 20px;
	-webkit-padding-bottom: 15px;
	-webkit-padding-top: 15px;
	-webkit-padding-left: 120px;
	-webkit-padding-right: 120px;
	border: 1.5px ;
	border-radius: 25px;
	}
