@charset "UTF-8";
/* CSS Document */

	body{
		background-image: url("result2.png");
		background-size: 100%;
	}
	
	#printer{
		width: 100%;
	}

	#card{
		width: 380px;
		display: flex;
		margin: auto;
		padding-left: 350px;
		padding-top: 1350px;
	
	}
